@{
    ViewBag.Title = "DemoExpression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DemoExpression</h2>

<table class="table">
<tr>
		<td class="col-xs-6">数量</td>
		<td class="col-xs-6"><input type="text" id="productCount" value="@ViewBag.ProductCount"/></td>
	</tr>
</table>