@model Web.Product

<div class="panel panel-success">
<div class="panel-heading">
	</div>
	<div class="panel-body">
	@Model.Name
	</div>
</div>

<a href="home/NameAndPrice" class="btn btn-success">NameAndPrice</a>
<br/>
<a href="home/DemoExpression" class="btn btn-success">DemoExpression</a>