@model Web.GuestResponse

<!DOCTYPE html>
<html>
<head>
    <title>回复</title>
</head>
<body class="panel panel-error" style="padding-top:10px">
		@using(Html.BeginForm()){
		@Html.ValidationSummary()
		<p class="text-success">
		姓名：@Html.TextBoxFor(x=>x.Name)
		</p>
		<p class="text-error">
		电话：@Html.TextBoxFor(x=>x.Phone)
		</p>
		<p class="text-info">
		邮箱：@Html.TextBoxFor(x=>x.Email)
		</p>
		<p class="text-warning">
		是否参加：@Html.DropDownListFor(x=>x.WillAttend,new[]{
				new SelectListItem(){Text="是的，我会参加",Value=bool.TrueString},
				new SelectListItem(){Text="抱歉，我不能参加",Value=bool.FalseString}
			},"请选择是否参加")
		</p>
		<div >
		<input type="submit" value="提交" class="btn btn-primary btn-large"/>
		</div>
		}
</body>
</html>

